.cont {
    background-color: white;
    padding-top: 25px;
    overflow: scroll;
    height: 500px;
    text-align: center;
    box-shadow:  2px 3px 3px rgb(128, 126, 126);
    border-radius: 7px;
}
