.wrapper {
    height: 100vh;
    padding-bottom: 100px;
    background-image: url("files.jpg");
    background-size: cover;
    background-image: no-repeat;
    background-color: #ABD7FA;
    font-family: 'Montserrat', sans-serif;
  }
  